{% extends "layout.html" %}
{% block main %}
<br><br>
    <div class="jumbotron">
    {% if error == 404 %}
      <h3>Page Not Found</h3>
      <!--<p class="lead">wow</p>-->
    {% else %}
      <h3>An unexpected error has occurred</h3>
      <!--<p class="lead">wow</p>-->
    {% endif %}
      <!--<hr class="my-4">-->
      <!--<p></p>-->
    <!--  <p class="lead">-->
    <!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <!--  </p>-->
    </div>
{% endblock %}