{% extends "layout.html" %}
{% block main %}
    <div class="jumbotron">
      {% if current_user.is_authenticated %}
      <h1 class="display-4">Hello, {{ current_user.username }}!</h1>
      {% else %}
      <h1 class="display-4">Hello, world!</h1>
      {% endif %}
      <p class="lead">Welcome to MiniBlog</p>
      <hr class="my-4">
      <p>This website is for limited number of users which they can share posts individually.</p>
      <a class="btn btn-primary btn-lg" href="{{ url_for('end_user.register') }}" role="button">Sign up!</a>
    </div>
  {% for post in posts.items %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='picture/' + post.author.picture) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('end_user.User_profile', username= post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.time }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('posts_.PostUpdate', post_id= post.id)}}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts_.PostDelete', post_id= post.id)}}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<br>
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {%if page_num == posts.page %}
       <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
    {% else %}
       <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
  ..
  {% endif %}
{% endfor %}
{% endblock %}